.Body
  - @posts.each do |post|
    .Post
      .MoreTag
        .Tags
          .Tag
            "# 宮沢賢治"
          .Tag
            "# ウサギ"
          .Tag
            "# 青空文庫"
        .More
          … 続きを読む
      .Main
        .DateBox
          .date
            投稿:
            = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
          .Likes
            = render partial: 'likes/like', locals: { post: @post}
          .Count
            14
          .Comments
            = icon('far', 'comment')
          .Count
            2
        .Text
          = post.text
      .DataBox
        .Title
          = post.title
        .WriterName
          = post.user.name
      .CatchCopy
        = post.copy
.Footer
  ©︎ KAKETA. From Mika.F
